@use "sass:map";
$--colors: (
  "primary": (
    "base": #93040b,
  ),

);
@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors,
  $carousel: (
    "indicator-width": 6px,
    "indicator-height": 6px,
    "indicator-padding-horizontal": 4px,
    "indicator-padding-vertical": 12px,
    "indicator-out-color": map.get($--colors, "primary", "base"),
  )
);
